/* Estilos específicos para la página de Inicio */
body {
    background-color: #b2414795; /* Fondo de la página */
    color: #f5f5f5; /* Color del texto */
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #ffffff;
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 600;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    color: #dcdcdc;
}
