/* API PARA TRAER FUENTES DE GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

img.img-fluid {
  width: 200px;
}

.form-control::placeholder {
  color: #a8a7a7;
}

/* Estilos generales para botones */
.btn {
  background-color: #00616f;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  color: white;
}

/* Estilo para el botón cuando se pasa el ratón sobre él */
.btn:hover {
  background-color: #00616f;
  color: white;
}

.form-control:focus {
  border-color: #ffffff;
  box-shadow: 0 0 0 0.1rem rgba(69, 133, 143, 0.811);
}
