body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
}

h1 {
  color: #ffffff;
  margin-bottom: 20px;
  border-bottom: 2px solid #3f3f3f;
  padding-bottom: 10px;
  font-size: 24px;
}

.notifications-wrapper {
  width: 100%;
  margin: 0 auto;
}

.notifications-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  background-color: #2c2c2c;
  color: #e0e0e0;
  border: none;
  margin-bottom: 10px; /* Reducido el margen inferior de las tarjetas */
  width: 100%;
  max-width: 260px; /* Ajustado el ancho máximo de las tarjetas */
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  background-color: transparent;
  border-top: none;
  padding: 10px;
}

.notification.unread .card {
  border-left: 4px solid #ff5722;
}

.btn {
  flex-grow: 1;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 3px;
}

.btn-success {
  background-color: #4caf50;
  border: none;
}

.btn-danger {
  background-color: #f44336;
  border: none;
}

.btn:hover {
  opacity: 0.9;
}
