/* Estilo para la barra superior */
body {
  overflow-x: hidden;
}

/* Estilo para las cards */
.card {
  border: 1px solid #cccccc;
  border-radius: 8px;
  background-color: #f4f4f4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.card-body {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 8px;
}

.card-text {
  font-size: 0.875rem;
  color: #555;
  margin-bottom: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-ver.btn-sm {
  background-color: #708dae !important;
  color: #fff !important;
  padding: 4px 12px !important;
  font-size: 0.75rem !important;
  border-radius: 25px !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1) !important;
  transition: all 0.3s ease !important;
}

.btn-ver.btn-sm:hover {
  background-color: #6fa8d1 !important;
  color: #fff !important;
  border-color: #6fa8d1 !important;
}

/* Modal */
.modal-content {
  border-radius: 8px;
}

.modal-header .btn-close {
  font-size: 1.5rem;
}


.barra-superior {
  width: 100%;
  background-color: #f8f9fa;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 8px 16px;
  top: 0;
  z-index: 10;
}

/* Estilo para los íconos y texto de la barra */
.fas.fa-users,
.fas.fa-tasks,
.fas.fa-check-circle {
  color: #007bff;
  margin-right: 6px;
  font-size: 0.7rem;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.mb-4 {
  margin-bottom: 1rem;
}

/* Estilo para el botón de regresar */
.btn-secondary {
  background-color: #6c757d;
  color: #fff;
  border-radius: 25px;
  padding: 6px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  gap: 6px;
}

.btn-secondary i {
  font-size: 1rem;
}

.btn-secondary:hover {
  background-color: #5a6268;
  transition: background-color 0.3s ease;
}


/* Estilo para los elementos de la barra */
.d-flex span {
  font-size: 0.8rem;
  color: #333;
  margin-right: 12px;
}

/* Evitar que el textarea se expanda */
textarea {
  resize: none;
}
