/* Fondo general del cuerpo */
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  background-color: #e0e7ef; /* Fondo gris azulado suave */
  box-sizing: border-box;
}

/* Sidebar */
.sidebar {
  width: 270px;
  height: 100vh;
  padding: 20px;
  background-color: #293d4d; /* Tono frío elegante en verde grisáceo claro */
  border-right: 1px solid #b0bec5;
}

/* Perfil de usuario */
.user-profile {
  background-color: #436479; /* Gris azulado suave para el perfil */
  color: #ffffff;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 10px;
}

.logout-icon {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
}

.logout-icon:hover {
  color: #d1e1e9;
}

.profile-pic {
  width: 34px;
  height: 34px;
  object-fit: cover;
  border-radius: 50%; /* Imagen de perfil redonda */
}

.user-info h5 {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.user-info p {
  margin-bottom: 0;
  font-size: 11px;
  color: #d1e1e9;
  font-weight: 400;
}

/* Enlaces de navegación */
.nav-link {
  color: #fafafa !important; /* Azul gris oscuro */
  font-weight: 600;
  font-size: 14px;
  border-radius: 4px;
}

.nav-link i {
  margin-right: 10px;
}

.nav-link:hover {
  background-color: #ffffff18   ; /* Color de fondo en hover */
  color: #ffffff;
}

.nav-link:focus {
  outline: none; /* Quita el contorno predeterminado */
  background-color: transparent; /* Elimina el color de fondo en foco */
}

.nav-link:active {
  background-color: transparent; /* Elimina el color de fondo al hacer clic */
}

/* Divisor */
.divider {
  border: 0;
  border-top: 2px solid #b0bec5;
  margin: 10px 0;
}

/* Main Content */
.main-content {
  margin: 10px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #ddd;
  overflow: hidden;
}
